
<!-- TITLE -->
<mat-card class="mb-40">
    <h1>
        Home
    </h1>
</mat-card>
    

<mat-card>
    <mat-card-content>
        <!-- START LINKS -->
<div>
    <a routerLink="/pazientes" routerLinkActive="active">Link to List Paziente</a>
</div>
<div>
    <a routerLink="/appuntamentos" routerLinkActive="active">Link to List Appuntamento</a>
</div>
<div>
    <a routerLink="/curas" routerLinkActive="active">Link to List Cura</a>
</div>
<div>
    <a routerLink="/fatturas" routerLinkActive="active">Link to List Fattura</a>
</div>
<div>
    <a routerLink="/poltronas" routerLinkActive="active">Link to List Poltrona</a>
</div>
<div>
    <a routerLink="/preventivos" routerLinkActive="active">Link to List Preventivo</a>
</div>
<div>
    <a routerLink="/studios" routerLinkActive="active">Link to List Studio</a>
</div>
<div>
    <a routerLink="/trattamentos" routerLinkActive="active">Link to List Trattamento</a>
</div>
 <!-- END LINKS -->
    </mat-card-content>

</mat-card>